<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title></title>
  <!--[if !mso]><!-- -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    .ReadMsgBody {
      width: 100%;
    }

    .ExternalClass {
      width: 100%;
    }

    .ExternalClass * {
      line-height: 100%;
    }

    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    p {
      display: block;
      margin: 13px 0;
    }
    .im {
      color: black!important;
    }
  </style>
  <!--[if !mso]><!-->
  <style type="text/css">
    @media only screen and (max-width:480px) {
      @-ms-viewport {
        width: 320px;
      }

      @viewport {
        width: 320px;
      }
    }
  </style>
  <!--<![endif]-->
  <!--[if mso]><xml>  <o:OfficeDocumentSettings>    <o:AllowPNG/>    <o:PixelsPerInch>96</o:PixelsPerInch>  </o:OfficeDocumentSettings></xml><![endif]-->
  <!--[if lte mso 11]><style type="text/css">  .outlook-group-fix {    width:100% !important;  }</style><![endif]-->
  <!--[if !mso]><!-->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
  </style>
  <!--<![endif]-->
  <style type="text/css">
    @media only screen and (min-width:480px) {
      .mj-column-per-100 {
        width: 100% !important;
      }
    }
  </style>
</head>

<body style="background: #EEEEEE;">
  <div class="mj-container" style="background-color:#EEEEEE; padding-top: 20px;">
    <!--[if mso | IE]>      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">        <tr>          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">      <![endif]-->
    <div style="margin:0px auto; max-width:600px">
      <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%"
       border="0">
        <tbody>
          <tr>
            <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:9px 0px 9px 0px;">
              <!--[if mso | IE]>      <table role="presentation" border="0" cellpadding="0" cellspacing="0">        <tr>          <td style="vertical-align:top;width:600px;">      <![endif]-->
              <div class="mj-column-per-100 outlook-group-fix"
                style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0" style=" background:#ffffff;">
                  <tbody>
                    <tr>
                      <td style="word-wrap:break-word;font-size:0px;">
                        <table role="presentation" cellpadding="0" cellspacing="0"
                          style="border-collapse:collapse;border-spacing:0px;" border="0">
                          <tbody>
                            <tr>
                              <td>
                                <div>
                                  <img style="height: 100px;margin: 10px;" src="<%=data.baseUrl%>images/logo.png" />
                                </div>
                              </div>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>      </td></tr></table>      <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]>      </td></tr></table>      <![endif]-->
    <!--[if mso | IE]>      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">        <tr>          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">      <![endif]-->
    <div style="margin:0px auto;max-width:600px;background:#fff;">
      <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#fff;"
        align="center" border="0">
        <tbody>
          <tr>
            <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:9px 0px 9px 0px;">
              <!--[if mso | IE]>      <table role="presentation" border="0" cellpadding="0" cellspacing="0">        <tr>          <td style="vertical-align:top;width:600px;">      <![endif]-->
              <div class="mj-column-per-100 outlook-group-fix"
                style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                  <tbody>
                    <tr>
                      <td style="word-wrap:break-word;font-size:0px;padding:23px 59px 23px 59px;" align="left">
                        <div
                          style="cursor:auto;color:#000000;font-family:Helvetica, sans-serif;font-size:11px;line-height:22px;text-align:justify;">
                          <p>
                            <p>
                              <span style="font-size:14px;"><span>Bonjour <%=data.firstname%> <%=data.lastname%>,</span>
                            </p>
                            <p>
                              <div style="font-size:14px;"><%-data.msg%></div>
                            </p>
                            <p>
                              <div style="font-size:14px;">
                                <b>Nom d'utilisateur :</b> <%=data.username%>  <br />
                                <% if (data.pwd) { %>
                                  <b>Mot de passe :</b> <%=data.pwd%>  <br />
                                <% } %>
                                <b>Lien de connexion :</b> <%=data.link%>  <br />
                              </div>
                            </p>
                            <p>
                              <% if (data.content) { %>
                              <div style="font-size:14px;">
                                <%- data.content %> <a href="<%= data.link %>">cliquant ICI</a>.
                              </div> 
                              <% } %>
                            </p>
                          </p>
                          <p>
                            <% if (data.codeBrokerInfos) { %>
                            <div style="font-size:14px;">
                              <%=data.codeBrokerInfos%>
                            </div> 
                            <% } %>
                          </p>
                          <p>
                            <% if (data.finalWordBefore1) { %>
                            <div style="font-size:14px;">
                              <%=data.finalWordBefore1%>
                            </div>
                            <% } %>
                          </p>
                          <p>
                            <% if (data.finalWordBefore2) { %>
                            <div style="font-size:14px;">
                              <%=data.finalWordBefore2%>
                            </div>
                            <% } %>
                          </p>
                          <p>
                            <% if (data.finalWord) { %>
                            <div style="font-size:14px;">
                              <%=data.finalWord%>
                            </div>
                            <% } %>
                          </p>
                          <p>
                            <div style="font-size:14px;">L'équipe <%=data.team%></div>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]>      </td></tr></table>      <![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]>      </td></tr></table>      <![endif]-->
    <!--[if mso | IE]>      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="width:600px;">        <tr>          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">      <![endif]-->
    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" border="0">
      <tbody>
        <tr>
          <td>
            <div style="margin:0px auto;max-width:600px;">
              <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;"
                align="center" border="0">
                <tbody>
                  <tr>
                    <td
                      style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:0px 0px 0px 0px;">
                      <!--[if mso | IE]>      <table role="presentation" border="0" cellpadding="0" cellspacing="0">        <tr>          <td style="vertical-align:top;width:600px;">      <![endif]-->
                      <div class="mj-column-per-100 outlook-group-fix"
                        style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-wrap:break-word;font-size:0px;padding:0px 7px 0px 7px;" align="right">
                                <div
                                  style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:22px;text-align:right;">
                                  <p>
                                    <span style="font-size:12px;">Copyright 2021 SFP STAFF</span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!--[if mso | IE]>      </td></tr></table>      <![endif]-->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!--[if mso | IE]>      </td></tr></table>      <![endif]-->
  </div>
</body>

</html>